.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}
.navbar{
  text-align: right;
}
.search {
    margin-left: 45%;
}
.picture{
    margin-top: 50px;
    text-align: center;
    
}
.main_image{
    width: -webkit-fill-avaliable;
}

  