@import 'partials/variables',
        'partials/base',
        'partials/layout',
        'partials/components',
        'partials/mixin',
        'partials/responsiveness';




.left{
    text-align: justify;
    padding-left: 350px;
    padding-right: 10%;

}
.grid_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 60px;
    background-color: black;
    color: whitesmoke;
    // width: 30%;
    // text-align: center;
    // padding-right: 40px;
}
.text{
    padding-left: 40px;
    padding-right: 40px;
    width: 322px;
    text-align: center;
}





  