.background{
    background-blend-mode: multiply;
    background-color: grey;
    background-image: url(../imgs/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    margin-top: 10px;
}
.txt{
    text-align: -webkit-center;
    position: absolute;
    width: 480px;
    transform: translate(110%, -203%);
    color: #e8e8e6;
}
.left{
    text-align: justify;
    padding-left: 350px;
    padding-right: 10%;

}