.background{
    background-blend-mode: multiply;
    background-color: grey;
    background-image: url(../imgs/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    margin-top: 10px;
}
.txt{
    text-align: -webkit-center;
    position: absolute;
    width: 480px;
    transform: translate(127%, -198%);
    color: #e8e8e6;
}
.left{
    text-align: justify;
    padding-left: 390px;
    padding-right: 16%;
}
.grid_text1{
    font-size: 15px;
}
i{
    width: 10px;
    height: 10px;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.65;
    letter-spacing: normal;
    text-align: center;
    color: #ee534f;
}
.red_inline{
    height:1.5px;
    width: 30px;
    }
    .fade{
        height:1.5px;
        width: 138.5px;
        background-color: grey;
        opacity: 0.5;
    }
a{
    margin: 20px;
    text-decoration: none;
    color: black;
}
// 5............
.container5{
    .team_layout{
        h4{
            margin-top: 0;

        }
        p{
            margin-top: 0;
            width: 280px;
            height: 153px;

        }
    }

    .member_icons{
        i{
        width: 22px;
        height: 19px;
        font-family: FontAwesome;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.65;
        letter-spacing: normal;
        text-align: center;
        color: #88888888;
        padding: 5px;
        }
        a{
        text-decoration: none;

        }
    }
}
.plane{
    text-align: center;
}