.background{
    background-blend-mode: multiply;
    background-color: grey;
    background-image: url(../imgs/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    margin-top: 10px;
}
.txt{
    text-align: -webkit-center;
    position: absolute;
    width: 480px;
    transform: translate(127%, -198%);
    color: #e8e8e6;
}
.left{
    text-align: justify;
    padding-left: 390px;
    padding-right: 16%;
}
.grid_text1{
    font-size: 15px;
}
i{
    width: 22px;
    height: 18px;
    font-family: FontAwesome;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.65;
    letter-spacing: normal;
    text-align: center;
    color: #ee534f;
}
.red_inline{
    height:1.5px;
    width: 30px;
    }
    .fade{
        height:1.5px;
        width: 138.5px;
        background-color: grey;
        opacity: 0.5;
    }
a{
    margin: 20px;
    text-decoration: none;
    color: black;
}
.grid_3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 60px;
    background-color: black;
    color: whitesmoke;
    margin-top: 15px;
}
.strip_2{
    padding-left: 5px;
    padding-right: 35px;
    width: 322px;
    text-align: center;
}