.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}
.navbar{
  text-align: right;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;

}
.container_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content;
    
    img{
        padding: 5px;
    }
}
.grid_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 60px;
    background-color: black;
    color: whitesmoke;
    // width: 30%;
    // text-align: center;
    // padding-right: 40px;
}