// 1st container section
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}
// navbar on top of page
.navbar{
  text-align: right;
  position: relative;
}
// structure for images
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;

}
// align text according to images
.container_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content;
    
    img{
        padding: 5px;
    }
}
// banner text structure
.grid_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 60px;
    background-color: black;
    color: whitesmoke;
}
// text for banner
.grid_text{
    padding-left: 40px;
    padding-right: 40px;
    width: 322px;
    text-align: center;
}